<div class="sidebar" [class.collapsed]="isCollapsed">
    <button class="toggle-btn" (click)="toggleSidebar()">
      <i class="fas" [class.fa-angle-right]="isCollapsed" [class.fa-angle-left]="!isCollapsed"></i>
    </button>
  
    <ul class="sidebar-menu">
      <li>
        <i class="fas fa-home"></i>
        <span *NgIf="!isCollapsed">Home</span>
      </li>
      <li>
        <i class="fas fa-user-md"></i>
        <span *NgIf="!isCollapsed">Médico</span>
      </li>
      <li>
        <i class="fas fa-users"></i>
        <span *NgIf="!isCollapsed">Paciente</span>
      </li>
      <li>
        <i class="fas fa-cog"></i>
        <span *NgIf="!isCollapsed">Configurações</span>
      </li>
    </ul>
  </div>
  