<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/maneger-home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/maneger-paciente">Pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/maneger-medico">Médicos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Consultas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Prontuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Relatórios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Acesso</a>
        </li>
      </ul>
    </div>
  </div>
</nav>