<main>
    <nav class="navbar navbar-expand-lg custom-navbar p-3">
        <img class="img-logo" src="assets/Gemini_Generated_Image_8805wg8805wg8805.jpeg" width="35" alt="Logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
                <a class="nav-item nav-link active" href="#">Users</a>
                <a class="nav-item nav-link" href="#">Patients</a>
                <a class="nav-item nav-link" href="#">Hospitals</a>
                <a class="nav-item nav-link" href="#">Notice</a>
                <a class="nav-item nav-link" href="#">Help Center</a>
            </div>
            <div class="navbar-icons ml-auto">
                <i class="icon fas fa-th"></i>
                <i class="icon fas fa-chart-bar"></i>
                <i class="icon fas fa-file-alt"></i>
            </div>
        </div>
    </nav>
</main>
