.navbar  {
    background-color: #006400; /* Verde escuro */
  }
  
  .dropdown-menu {
    background-color: #154734; /* Verde mais escuro para o dropdown */
  }
  
  .dropdown-item {
    color: white;
  }